
/* =================================
  Base Element Styles
==================================== */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  src: url("fonts/NanumGothic-Regular.tff") format("truetype");
}


* {
  box-sizing: border-box;
    font-family: 'Nanum Gothic', helvetica, arial, sans-serif;
}

ul a{
  font-family: 'Nanum Gothic', helvetica, arial, sans-serif;
}

body {
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  padding-top: 40px;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

p {
  line-height: 1.3em;
  width: 87%;
  margin: 0 auto;
  text-align: center;
}

.main-nav {
  padding: 10px;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  font-family: helvetica, arial, sans-serif;

}
.nav li {
    margin: 10px 0 10px 0;
    padding: 10px 0;
    background-color: white;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}


.main-nav {
  margin-bottom:30px;
}
#business-card p {
  color: lightgrey;
}

#business-card img{
  padding-bottom: 30px;
  order: 2;
  width: 37%;

}
#business-card {
  display: flex;
}

#business-card p {
  order: 1;

}
.card:nth-of-type(even) {
  background: rgba(0,0,0,0.1);
}

.card:nth-of-type(odd) {
  background: rgba(0,0,0,0.2);
}

.profile-image, .card-image {
  margin: 0 auto;
  display: block;
}

.card-image {
  width: 70%;
  padding-bottom: 30px;
}

.profile-image {
  width: 50%;
}

.card {
  margin: 60px 0 60px 0;
}

.card-image{
  padding-bottom: 10px;
}

.card-image h2 {
  padding: 0;
}

#contact ul li{
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  line-height: 1.2rem;
}

#contact h3 {
  text-align: center;
  text-transform: uppercase;
}

footer .main-nav {
  display: none;
}

footer {
  display: flex;
  border-top: 1px lightgrey solid;
  padding-top: 20px;
}

footer p {
  width:50%;
  margin: 0;
  text-align: left;

}
footer #name {
  order: 1;
}

footer #nav {
  display: none;
}

.footer-nav {
  display: none;
}

footer .link-top {
  order: 2;
  width: 50%;
  text-decoration: none;
  color: black;
  text-align: right;
  text-transform: uppercase;
}
/* =================================
  Media Queries
==================================== */
@media screen and (min-width: 768px){
body {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

#header {
  margin-top: 20%;

}
.nav {
  margin-top: 20px;
}

.nav li {
  display: inline;
  margin: 40px 20px 0;
}

.profile-image {
  width: 40%;
}

#home p {
  text-align: left;
  width: 50%;
  padding-right: 20px;
}
#portfolio h2 {
  width: 100%;
}

#portfolio {
 display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.card {
  width: 49%;
  margin: 0;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  margin: 0;
}

#contact {
margin-top: 30px;

}
#contact h3 {
  text-align: center;
  text-transform: uppercase;
}
footer {
  display: flex;
  margin-top: 43px;
  border-top: 1px solid lightgrey;
  padding-top: 23px;
  justify-content: space-between;
  align-items: center;

}
footer #name {
  order: 1;
  width: 30%;
  margin: 0;
}
footer .link-top{
  display: none;
}
.footer-nav {
  order: 3;
  display: block;
}
.footer-nav .nav {
  margin-top: 0;
}


}

@media screen and (min-width: 1024px){

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  order: 1;
}

header .main-nav {
  order: 2;
}
#home {
  padding-top: 30px;
}
 #home h1 {
   width: 50%;
   text-align: left;
   margin-top: 0.67em;
   padding-top: 0;
 }

#home p {
  text-align: left;
  width: 70%;
  margin: 0;
}
.main-nav {
  width: 50%;
  text-align: right;

}

#business-card {
order: 3;
}

.card {
  width: 32%;
}

.card h2 {
  padding: 0;
}

#contact {
  text-align: center;
}
#contact p{
text-align: center;
width: 50%;
padding-bottom: 30px;
}


}
