
/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
}

header {

}
h1 {
  padding-top: 40px;
  text-align: center;

}

h2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

p {
  text-align: center;
  line-height: 1.3em;

}

.main-nav {
  padding: 10px;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  font-family: helvetica, arial, sans-serif;

}
.nav li {
    margin: 10px 0 10px 0;
    padding: 10px 0;
    background-color: white;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}


.main-nav {
  margin-bottom:30px;
}

.profile-image, .card-image {
  margin: 0 auto;
  display: block;
}

.card-image {
  width: 70%;
  padding-bottom: 30px;
}

.profile-image {
  width: 50%;
}

.card {
  margin: 60px 0 60px 0;
}

#contact ul li{
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  font-family: helvetica, arial, sans-serif;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 768px){
body {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

#header {
  margin-top: 20%;

}
.nav {
  margin-top: 20px;
}

.nav li {
  display: inline;
  margin: 40px 20px 0;
}

.profile-image {
  width: 40%;
  float: right;
}

#home p {
  text-align: left;
  width: 50%;
  padding-right: 20px;
}

#portfolio {
  clear: both;

}

.card {
  width: 49%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.card-image {
  width: 90%;
  padding-bottom: 30px;
}





@media (min-width: 1024px){


}
